
  {% extends 'general/general.html' %}
  {% load static %}
  {% block content %}
  <!-- slideshow section -->
  <!-- <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script> -->
  <link rel="stylesheet" media="all" type="text/css" href="{% static 'homepage/css/homepage.css' %}">
  
  <style>
    #container {
      margin: 0px auto;
      width: 500px;
      max-height: 600px;
      height: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      /* border: 10px #333 solid; */
    }
    #videoElement {
      width: 500px;
      height: 375px;
      border-radius: 30px;
      border: 3px solid rgba(238, 238, 238, 0.432);
      background-image: url("{% static 'homepage/media/gummy-vintage-camera.png' %}");
      background-color: seashell;
    }

    .btn {
      margin-top: 20px;
      border: 3px solid rgba(238, 238, 238, 0.432);
      border-radius: 30px;
      left: 50%;
      /* margin: auto; */
    }

    @media screen and (min-width: 0px) and (max-width: 500px){
      #container {
        max-width: calc(100% - 5px);
        margin: 5px;
        max-height: 450px;
      }

      #videoElement {
        max-width: calc(100% - 5px);
      background-image: url("{% static 'homepage/media/gummy-vintage-camera_small.png' %}");
      }
    }


    </style>
    </head>
     
    <body>
    <div id="container">
      <video autoplay="true" id="videoElement"></video>
      <div class="row">
        <div class="col text-center">
          <button id="snap" class="btn">Take Photo</button>
        </div>
      </div>
      <canvas id="canvas" width="500" height="375" hidden></canvas>
    </div>
    <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('videoElement');

        document.getElementById("snap").addEventListener("click", function() {
          context.drawImage(video, 0, 0, 500, 375);
          var canvasData = canvas.toDataURL("image/jpg");

            const dataToSend = JSON.stringify({"avatar":{"name":"person.png", "file":canvasData.substring(22,canvasData.length), "content_type":"img/png"}});
            fetch("avatarphoto/", {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: dataToSend
            })
                
        });

        
    </script>
    </body>
</div>


{% endblock %}

